<div class="registerContainer">
    <div class="container">
        <div class="row justify-content-center align-items-center min-vh-100">
            <div class="col-md-8">
                <div class="card" style="margin-top: 2%;">                
                    <h3 class="text-center">Crea tu cuenta</h3>
                    <form action="" method="post">
                        <div class="mb-3">
                            <label for="usuario" class="form-label"><i class="ri-user-fill ri-lg"></i>Nombre de Usuario</label>
                            <input type="text" class="form-control" id="usuario" name="usuario" required>
                        </div>
                        <div class="mb-3">
                            <label for="correo" class="form-label"><i class="ri-mail-add-fill ri-lg"></i>Correo</label>
                            <input type="email" class="form-control" id="correo" name="correo" aria-describedby="emailHelp" required>
                        </div>
                        <div class="mb-3">
                            <label for="contrasena" class="form-label"><i class="ri-lock-fill ri-lg"></i>Contraseña</label>
                            <input type="password" class="form-control" id="contrasena" name="contrasena" required>
                        </div>
                        <!-- <div class="mb-3">
                            <label for="repetirContrasena" class="form-label"><i class="ri-lock-fill ri-lg"></i>Repetir Contraseña</label>
                            <input type="password" class="form-control" id="repetirContrasena" name="repetirContrasena" required>
                        </div> -->
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button class="btn btn-outline-success" type="submit">Crear cuenta <i class="ri-check-fill ri-lg"></i></button>
                        </div>
                        <p class="text-center">¿ya tienes cuenta? <strong><a href="/auth/login" class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">iniciar sesion</a></strong></p>
                        <p class="text-center"><strong><a href="/" class="link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Ir al inicio</a></strong></p>
                    </form>
                </div>
            </div>
        </div>
    </div><br>
</div>
