<div class="registroContainer">
    <header id="head">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top ">
            <div class="container-fluid">
                <a class="navbar-brand">
                    <img src="/assets/tuduLogoIco.png" alt="" width="30" height="30" class="d-inline-block align-text-top">
                    
                  </a>
              <a class="navbar-brand"><b>TUDU</b></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                  <!-- <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#head">Inicio</a>
                  </li> -->
                  <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="/tareas/registro">Nueva tarea</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/tareas/lista">Mi lista</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#contacto">Contacto</a>
                  </li> -->
                </ul>
                <a class="btn btn-info m-1" aria-current="page" href="/usuario/perfil">ver perfil <i class="ri-user-fill"></i></a>
                <a class="btn btn-outline-info" aria-current="page" href="/auth/signup">Salir <i class="ri-logout-circle-line"></i></a>
                
                <!-- <button class="btn btn-outline-info" type="submit">Crear cuenta</button> -->
                
              </div>
            </div>
          </nav>
    </header>

    <div class="container">
      <div class="border-primary mt-3">
        <h3 class="text-center ">Agregar Nueva Tarea</h3>
        <hr>
        <form
        [formGroup]="tareaForm"
        (submit)="OnFormSubmit()"
        autocomplete="off">
          <div>
            <div class="form-floeating mb-2">
                <label for="titulo">*Titulo
                </label>
                <input  class="form-control" 
                formControlName="titulo"
                type="text" 
                id="titulo" 
                placeholder="">
            </div> 
            <span 
            *ngIf="isFieldValid('titulo')"
            class="text-danger">
                El titulo es requerido y tiene que tener por lo menos 5 caracteres
            </span>
          </div>
            <div>
                <div class="form-floeating mb-2">
                    <label for="descripcion">*Descripcion
                    </label>
                    <textarea id="descripcion"
                    formControlName="descripcion" 
                    class="form-control"
                    rows="10" 
                    placeholder=""></textarea>
                </div>
                <span 
                *ngIf="isFieldValid('descripcion')"
                class="text-danger">
                La descripción es requerida y tiene que tener por lo menos 5 caracteres
                </span>
            </div>
            <button type="submit" 
            class="btn btn-primary mt-2">Guardar</button>
        </form>
    </div>

    <!-- <div class="row">

      <div class="col-md-6 offset-md-3 mt-5">
          <h2 class="text-center mb-4">Nueva Tarea</h2>
          <hr>
          <form>
              <div class="mb-3">
                  <label for="taskName" class="form-label">Nombre de la tarea</label>
                  <input type="text" class="form-control" id="taskName" placeholder="Ingrese el nombre" required>
              </div>
              <div class="mb-3">
                  <label for="taskDescription" class="form-label">Descripción de la tarea</label>
                  <textarea class="form-control" id="taskDescription" rows="3" placeholder="Ingrese la descripción de la tarea" required></textarea>
              </div>
              <div class="text-center">

                  <button type="submit" class="btn btn-success">Agregar tarea <i class="ri-add-circle-fill"></i></button>
              </div>
          </form>
      </div>
    </div> -->
    </div><br><br>

    
</div>
